<h1>Listing recordings for a device</h1>

<%= link_to 'Refresh', py_readings_path(@readings.last.py) %>
<br>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Noise Level</th>
        <th>Update Time</th>
        <th colspan="3"></th>
    </tr>
    
    <% @readings.each do |reading| %>
        <tr>
          <td><%= reading.py.identifier %></td>
          <td><%= reading.lat %></td>
          <td><%= reading.lon %></td>
          <td><%= reading.dblvl %></td>
          <td><%= reading.devicetime %></td>
          <td><%= link_to 'Show', py_reading_path(reading.py, reading) %></td>
          <td><%= link_to 'Destroy', py_reading_path(reading.py, reading),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
          <td>
          </td>
        </tr>
    <% end %>
</table>