<p>
    <strong>Id:</strong>
    <%= @py.identifier %>
</p>
<br>
<iframe
                id="googlemap"
                width="300"
                height="200"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADBrHDk2telNSBAdKCOTunANdjzQUbTYQ
                &q=<%= @py.readings.empty? ? "" : @py.readings.last.lat %>,
                <%=    @py.readings.empty? ? "" : @py.readings.last.lon %>">
</iframe>
<br>
<table class="table table-striped" id="reading table">
    <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Noise Level</th>
        <th>Update Time</th>
    </tr>
    
    <% @py.readings.each do |reading| %>
        <tr>
          <td><%= reading.lat %></td>
          <td><%= reading.lon %></td>
          <td><%= reading.dblvl %></td>
          <td><%= reading.devicetime %></td>
          </td>
        </tr>
    <% end %>
</table>

<%= link_to 'Edit', edit_py_path(@py) %> |
<%= link_to 'Back', pies_path %>
